<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Team</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/Join_page.css">
</head>
<body>

<div class="wrapper">
    <h1>Our Team</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/img_1Gee.jpeg" alt="our_team">
          </div>
          <h3>Geetraj Kumar Shaw</h3>
          
        </div>

        <div class="team_member">
            <div class="member_img">
               <img src="/static/img_2Rom.jpeg" alt="our_team"> 
            </div>
            <h3>Romit Chattopadhyay</h3>
            
        </div>

        <div class="team_member">
            <div class="member_img">
                <img src="/static/img_3Rou.jpg" alt="our_team">
            </div>
            <h3>Kumar Rounik</h3>
            
        </div>
        <br>
        <div class="team_member">
            <div class="member_img">
                <img src="/static/img_4Saw.jpeg" alt="our_team">
            </div>
            <h3>Sawan Kumar</h3>
            
        </div>


        <div class="team_member">
            <div class="member_img">
               <img src="/static/img_5Anu.jpeg" alt="our_team"> 
            </div>
            <h3>Anubhabh Paul</h3>
            
        </div>


        <div class="team_member">
            <div class="member_img">
               <img src="/static/img_6Bis.jpeg" alt="our_team">
            </div>
            <h3>Biswapa Saha</h3>
            
        </div>


       
    </div>
</div>	

</body>
</html>